{%  load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Riverside Nursery
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jssor.slider-23.1.0.mini.js' %}"></script>
    {% block header %}
    {%  endblock header %}
</head>
<body {% block body %}{% endblock body %}>
    <div class="container-fluid">
    {% block content %}
    {% endblock content %}
    {% block footer %}
    {% endblock footer %}
    </div>
</body>
</html>